<a href="https://colab.research.google.com/github/Elprinz1/elprinz_portfolio/blob/master/Retrieving_Historical_data_using_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
#Install all dependencies and packages for the script using pip

In [ ]:
pip install ccxt

In [4]:
#Import all required packages/libraries
import os, time, datetime
import pandas as pd
import ccxt

In [ ]:
#Let us briefly explore the features of ccxt library
ccxt.exchanges

In [16]:
#Get the total No of exchanges supported by ccxt
len(ccxt.exchanges)

114

In [6]:
#Explore a few exchanges. Initialise each exchange
binance = ccxt.binance()
coinbase = ccxt.coinbase()
kucoin = ccxt.kucoin()

#Load market data for each exchange
binance_markets = binance.load_markets()
binance_markets

#Similarly we can retrieve market data for other exchanges
kucoin_market = kucoin.load_markets()
coinbase_market = coinbase.load_markets()
len(coinbase_market)
len(kucoin_market)
len(binance_markets)

1533

In [ ]:
#Get list of trading pairs as per exchange
trading_pairs_binance = binance.symbols
trading_pairs_binance

# trading_pairs_kucoin = kucoin.symbols
# trading_pairs_kucoin

In [ ]:
#Retrieve historical data (ohlcv) for individual trading pair
symbol = 'ETH/USDT'
candles = binance.fetch_ohlcv(symbol, limit=100, timeframe='1d')
candles

In [9]:
#Store data in a pandas dataframe so that we can prepare it for saving
df = pd.DataFrame(candles)
df.columns = ['Date', 'Open', 'High', 'Low', 'Close', 'Volume']
df

             Date     Open     High      Low    Close        Volume
0   1617148800000  1840.41  1947.29  1768.15  1919.37  746995.85910
1   1617235200000  1919.37  1984.77  1885.02  1968.05  741585.07266
2   1617321600000  1968.05  2146.00  1948.48  2133.69  846197.93215
3   1617408000000  2133.69  2138.12  1996.30  2008.52  770176.32192
4   1617494400000  2008.59  2091.83  1975.24  2075.69  514345.76554
..            ...      ...      ...      ...      ...           ...
95  1625356800000  2226.99  2389.93  2189.58  2322.69  590656.25069
96  1625443200000  2322.69  2324.64  2157.32  2196.53  781806.31605
97  1625529600000  2196.85  2350.00  2193.00  2322.50  785330.17152
98  1625616000000  2322.51  2409.00  2291.90  2316.57  666501.35572
99  1625702400000  2316.25  2325.60  2124.21  2147.93  509354.00490

[100 rows x 6 columns]

In [10]:
#Create a function to convert the unix timestamp to readable datetime format
def real_date(x):
  real_date = datetime.datetime.fromtimestamp(int(x)/1000)
  return real_date

In [11]:
#Call function on the date column to covert to datetime
df['Date'] = df['Date'].apply(lambda x: real_date(x))
df

         Date     Open     High      Low    Close        Volume
0  2021-03-31  1840.41  1947.29  1768.15  1919.37  746995.85910
1  2021-04-01  1919.37  1984.77  1885.02  1968.05  741585.07266
2  2021-04-02  1968.05  2146.00  1948.48  2133.69  846197.93215
3  2021-04-03  2133.69  2138.12  1996.30  2008.52  770176.32192
4  2021-04-04  2008.59  2091.83  1975.24  2075.69  514345.76554
..        ...      ...      ...      ...      ...           ...
95 2021-07-04  2226.99  2389.93  2189.58  2322.69  590656.25069
96 2021-07-05  2322.69  2324.64  2157.32  2196.53  781806.31605
97 2021-07-06  2196.85  2350.00  2193.00  2322.50  785330.17152
98 2021-07-07  2322.51  2409.00  2291.90  2316.57  666501.35572
99 2021-07-08  2316.25  2325.60  2124.21  2147.93  509354.00490

[100 rows x 6 columns]

In [ ]:
#Save data to csv file
from google.colab import files
symbol2 = 'ETHUSDT'
if os.path.isfile('/content/DATASET/{}.csv'.format(symbol2)):
  with open('/content/DATASET/{}.csv'.format(symbol2), 'w') as f:
    f.write(df.to_csv())
else:
  df.to_csv('/content/DATASET/{}.csv'.format(symbol2))
files.download('/content/DATASET/{}.csv'.format(symbol2))

In [30]:
#Combines all retrieval steps and make as a function
def get_historical_data(symbol):
  candles = binance.fetch_ohlcv(symbol, limit=100, timeframe='1d')
  df = pd.DataFrame(candles)
  df.columns = ['Date', 'Open', 'High', 'Low', 'Close', 'Volume']
  df['Date'] = df['Date'].apply(lambda x: real_date(x))

  return df

In [33]:
#Make a list of trading pairs and create a function to save them to a file
pairs = ['ONG/BNB',
'ONG/BTC',
 'ONG/USDT',
 'ONT/BNB',
 'ONT/BTC',
 'ONT/BUSD',
 'ONT/ETH',
 'ONT/PAX',
 'ONT/TRY',
 'ONT/USDC',
 'ONT/USDT',]
def get_all_trading_pairs(pairs):
  for pair in pairs:
    df = get_historical_data(pair)
    pair = pair.split('/')
    pair = ''.join(pair)
    if os.path.isfile('/content/DATASET/{}.csv'.format(pair)):
      with open('/content/DATASET/{}.csv'.format(pair), 'w') as f:
        f.write(df.to_csv())
    else:
      df.to_csv('/content/DATASET/{}.csv'.format(pair))

In [34]:
get_all_trading_pairs(pairs)